extends layouts/UsersMenu.pug

block content
        div(class="position-relative" style="margin-top: 0px;")
            myCarousel1.carousel.slide(data-ride="carousel")
                ol.carousel-indicators
                    li.active(data-target="#myCarousel1", data-slide-to="0")
                    li(data-target="#myCarousel1", data-slide-to="1")
                    li(data-target="#myCarousel1", data-slide-to="2")
                .carousel-inner
                    .item.active 
                        img(src="./images/s1.png", style="width:100%; height: 500px", alt="First slide")
                    .item
                        img(src="./images/s2.png", style="width:100%; height: 500px", alt="Second slide")
                    .item
                        img(src="./images/s3.png", style="width:100%; height: 500px", alt="Third slide")
                a.left.carousel-control(href="#myCarousel1", data-slide="prev")
                    img(src="./images/icons/left-arrow.png", onmouseover="this.src = \'./images/icons/left-arrow-hover.png\'", onmouseout="this.src = \'./images/icons/left-arrow.png\'", alt="left")
                a.right.carousel-control(href="#myCarousel1", data-slide="next")
                    img(src="./images/icons/right-arrow.png", onmouseover="this.src = \'./images/icons/right-arrow-hover.png\'", onmouseout="this.src = \'./images/icons/right-arrow.png\'", alt="left")

                
            div(class="position-absolute top-100 start-50 translate-middle" style="width:50%;")
                div(class="card bg-dark p-5" style="height: 100%")
                    div(class="card-body d-flex align-items-center justify-content-center")
                        form(action="/UserCheckRoom" method="get" class="row g-3")
                            div(class="col-auto")
                                label(for="" class="text-white pt-3 fs-2") วันที่เข้า 
                            div(class="col-auto")
                                input(type="date" class="form-control form-control-lg fs-2" id="inputdate1" placeholder="" name="dateStart" required)
                            div(class="col-auto")
                                label(for="" class="text-white pt-3 fs-2") วันที่ออก
                            div(class="col-auto")
                                input(type="date" class="form-control form-control-lg fs-2" id="inputdate2" placeholder="" name="dateEnd" required)
                            div(class="col-auto")
                                select(class="form-select fs-2" id="t" aria-label="Default select example" name="TypeRoom" required)
                                    option(value="1") โดม
                                    option(value="2") กระโจม
                                    option(value="3") บ้าน
                                    option(value="4") เต้นท์
                            div(class="col-auto")
                                button(type="submit" onclick="sisiondate()" class="btn btn-primary fs-2") ค้นหา
                                script.
                                        function sisiondate() {
                                        let d1 = document.getElementById('inputdate1').value
                                        let d2 = document.getElementById('inputdate2').value    
                                        sessionStorage.setItem('d1', d1)
                                        sessionStorage.setItem('d2', d2)
                                         }
                                        function click() {
                                            document.getElementById('inputdate2').innerHTML = Date.now()
                                        }


        div.container
        if !results

        else
            each data in results
                section.blog-block
                    .container
                        .row.offspace-45.card
                            .view-set-block.m-2
                                .col-md-6.col-sm-6.col-xs-12
                                    .event-blog-image
                                        img.img-responsive.rounded(alt="image", src=data.img style="width:600px; height: 400px;")
                                .col-md-6.col-sm-6.col-xs-12.side-in-image
                                    .event-blog-details
                                        h4
                                        p.fs-2 ห้อง #{data.name_room} #{data.room_name_type}
                                        input(type="hidden" id="id_room" value=`${data.id_room}`)
                                        p รายละเอียด #{data.detail_room}
                                        p ราคา #{data.price_room} บาท
                                        a.btn.btn-default(href=`/UserReserveRoom` onclick="number_room()") จอง คลิ้ก
                                        script.
                                            function number_room() {
                                            let id_room = document.getElementById('id_room').value
                                            sessionStorage.setItem('id_room', id_room)
                                            
                                                    }
                                    

        div(class="container" style="margin-top: 100px")
         div(class="d-flex justify-content-center")
          h3 3 วิธีการจอง
         div(class="d-flex justify-content-evenly mt-2")
         div(class="row text-center")
          div(class="col-4")
           h5 สมัครสมาชิก 
           br
           lu(class="d-flex align-items-start flex-column")
                li สมัคร
                li เข้าสู่ระบบ
                li เลือกวันที่เข้าและประเภท
                li จอง
          div(class="col-4")
           h5 Add LIne และ fackbook
           p ID LINE : @520mrwpx 
           a(href="https://line.me/R/ti/p/@520mrwpx") Line คลิ้ก
           br
           img(src="./img_service/line.png", alt="", srcset="" style="width: 150px; height: 150px")
           br
           p FACKBOOK ----> 
            a(href="https://www.facebook.com/messages/t/110656341644306") facebook คลิ้ก
          div(class="col-4")
           h5 โทรจอง
           p เบอร์ติดต่อ 093-6079126, 098-9359469
        
        
        

           
          
         
           